<div
	class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 border-bottom shadow-sm bg-primary-color">

	<h5 class="my-0 mr-md-auto font-weight-normal text-white">Playground: ToDo App</h5>

	<nav class="my-2 my-md-0 mr-md-3 fg-primary-color ">
		<a class="p-2 text-white" routerLinkActive="active" routerLink="/">Demo</a>
		<a class="p-2 text-white" routerLinkActive="active" routerLink="/inside">Inside</a>
		<a class="p-2 text-white" routerLinkActive="active" routerLink="/about">About</a>
	</nav>

</div>

<router-outlet></router-outlet>
